.platform-ios 
{
  page-home {
     top: 20px !important;
  }
}
page-home {

.content{
background-color: #9e9e9e;
}
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
#btn1 {
	float: right;
	
}
ion-item{
	width:100%;
}
ion-button{
	display: inline-block;
	float: right;
}
img{
	size: contain;
	width:100%;
	max-height: 300px;
	min-height: 200px;
	float: left;
	margin: 3% auto;
	
}
.price{
	float: right;
}
.name{
	float: left;
}
ion-thumbnail img{
	min-width: 0px;
	min-height: 0px;
}
}
