
<ion-header>
  <ion-navbar color="main">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class= "content">
<ion-searchbar [(ngModel)]="searchInput" [showCancelButton]="shouldShowCancel" [animated]="true" (ionInput)="onInput($event)" ></ion-searchbar>
<ion-list ng-if="convSearchResults.length>0||gameSearchResults.length>0" style="background-color: #a50000">
        <ion-item *ngFor="let item of convSearchResults" (click)="viewConventionItem(item)">
			<h2 style="color: #ffffff">{{item.name}}</h2>
			<p>Location: {{item.locationCityState}}, {{item.zipcode}}</p>
			<p>Main Page: {{item.mainPage}}</p>
        </ion-item>
		<ion-item *ngFor="let item of gameSearchResults" (click)="viewGameItem(item)">
            <h2 style="color: #ffffff">{{item.title}}</h2>
            <p>Developer: {{item.developer}}</p>
            <p>Game Page URL: {{item.gamePageUrl}}</p>
        </ion-item>
    </ion-list>
  <ion-card>
    <ion-card-header style="color: #ffffff">
      Upcoming Conventions
    </ion-card-header>
    <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of conventions" (click)="viewConventionItem(item)">
            <ion-thumbnail item-start>
                <img height="15" width="15" src="assets/imgs/Dragon-Con-Logo.png" />
            </ion-thumbnail>
				    <h2 style="color: #ffffff">{{item.name}}</h2>
				    <p>Location: {{item.locationCityState}}, {{item.zipcode}}</p>
				    <p>Main Page: {{item.mainPage}}</p>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header style="color: #ffffff">
      Suggested Games
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let item of games" (click)="viewGameItem(item)">
              <ion-thumbnail item-start>
                <img height="15" width="15" src="assets/imgs/FarCry4-Logo.png" />
              </ion-thumbnail>
              <h2 style="color: #ffffff">{{item.title}}</h2>
              <p>Developer: {{item.developer}}</p>
              <p>Game Page URL: {{item.gamePageUrl}}</p>
            </ion-item>
          </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
