<ion-header>
  <ion-navbar>
    <ion-title><h1>{{name}}</h1></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="img">
		<img src={{picture}} *ngIf="picture"/>
	</div>
	<div id="topBtns">
		<button  color="danger" *ngIf="vendorsUrl"><a href={{vendorsUrl}}>Vendors</a></button>
		<button  color="danger" *ngIf="scheduleUrl"><a href={{scheduleUrl}}>Schedule</a></button>
		<button  color="danger" *ngIf="mainPage"><a href={{mainPage}}>Main Page</a></button>
	</div>
	<div id="bottomBtns">
		<button  color="danger" *ngIf="storePageUrl"><a href={{storePageUrl}}>Store Page</a></button>
		<button  color="danger" *ngIf="bracketsUrl"><a href={{bracketsUrl}}>Contests</a></button>
		<button  color="danger" *ngIf="faq"><a href={{faq}}>FAQ</a></button>
	</div>
	<h3>Location: {{locationCityState}}, {{zipcode}}</h3>
	<div *ngIf="latitude && longitude">
		<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15">
			<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
		</agm-map>
	</div>
	<!-- <div id="map"> -->
	<!-- <iframe [src]="locationV" width="100%" height="350" frameborder="0" style="border:0"></iframe> -->
	<!-- </div> -->
	<button ion-button color="danger" id="tickets" *ngIf="ticketsUrl"><a href={{ticketsUrl}}>But Tickets Now!</a></button>
	<div id="socialMedia">
		<h5 style="text-align: center; margin-top: 10px;"><i>Share Events to Social Media! Coming Soon!</i></h5>
		<button ion-button icon-only color="danger" disabled=true><ion-icon name="logo-facebook"></ion-icon> </button>
		<button ion-button icon-only color="danger" disabled=true><ion-icon name="logo-instagram"></ion-icon></button>
		<button ion-button icon-only color="danger" disabled=true><ion-icon name="logo-twitter"></ion-icon></button>
	</div>
  <!-- <ion-card> -->
    <!-- <ion-card-content id="description"> -->
	<div>
	<h3>Description</h3>
      <p style="color: white; text-align: center;" *ngIf="description">{{description}}</p>
	  </div>
    <!-- </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>
